<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
        <param name="model_path" value="$(find tl_detector)/light_classification/frozen_models/sim/faster_rcnn_resnet101_coco_2018_01_28/frozen_inference_graph.pb" />
        <!-- <param name="model_path" value="$(find tl_detector)/light_classification/frozen_models/sim/ssd_mobilenet_v2_coco_2018_03_29/frozen_inference_graph.pb" /> -->
    </node>
</launch>
